@page
@model VSU_Schedule.Areas.Rooms.Pages.CreateModel

@{
    ViewData["Title"] = "Добавить аудиторию";
}
<h4>Новая аудитория</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Room.Number" class="control-label"></label>
                <input asp-for="Room.Number" class="form-control" />
                <span asp-validation-for="Room.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Capacity" class="control-label"></label>
                <input asp-for="Room.Capacity" class="form-control" />
                <span asp-validation-for="Room.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Room.IsLecture" /> @Html.DisplayNameFor(model => model.Room.IsLecture)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Room.IsPractice" /> @Html.DisplayNameFor(model => model.Room.IsPractice)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Room.IsLaboratory" /> @Html.DisplayNameFor(model => model.Room.IsLaboratory)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Room.IsSpecial" /> @Html.DisplayNameFor(model => model.Room.IsSpecial)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
