@page
@model VSU_Schedule.Areas.Teachers.Pages.CreateModel

@{
    ViewData["Title"] = "Добавить преподавателя";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    //var specList = new List<SelectListItem>
    //{
    //    new SelectListItem() {Value = "", Text = "Нет", Selected = true}
    //};
    //specList.AddRange(Model.Subjects.Select(x => new SelectListItem(x.Name, x.Id.ToString())));
}
<h4>Добавление преподавателя</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Teacher.FullName" class="control-label"></label>
                <input asp-for="Teacher.FullName" class="form-control"/>
                <span asp-validation-for="Teacher.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Position" class="control-label"></label>
                <input asp-for="Teacher.Position" class="form-control"/>
                <span asp-validation-for="Teacher.Position" class="text-danger"></span>
            </div>
            @for (int i = 0; i < Model.Subjects.Count; i++)
            {
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" asp-for="Subjects[i].ForTeacher" />
                        <label class="custom-control-label" asp-for="Subjects[i].ForTeacher">
                            @Html.DisplayName(Model.Subjects[i].Name)
                        </label>
                        @*@Html.CheckBoxFor(model=>elem.ForTeacher)*@
                        <input type="hidden" asp-for="Subjects[i].Id">
                        <input type="hidden" asp-for="Subjects[i].Semester">

                    </div>

                </div>
            }
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Назад к списку</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}