@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Подтверждение резервноо кода";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Вы запросили подтверждение входа с помощью резервного кода. Эта сессия не будет сохранена до тех пор, пока Вы не войдете с кодом приложения или не отключите двухфакторную аутентификацию
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.RecoveryCode"></label>
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
