@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль был изменен. Пожалуйста <a asp-page="./Login">Нажмите сюда, чтобы войти</a>.
</p>
